.body{
color: #fff;
}

.Wrapper{
    display: flex;
}
@media (max-width:1020px) {
.genres{
    display: flex;
    list-style: none;
    padding: 0;
}
}
@media (max-width:572px) {
.Wrapper{
    display: block;
    text-align: center;
}
.genres{
    justify-content: center;
    align-items: center;
}
}

.movieImg{
    padding-right: 15px;
}
.movieTitle{
    color: #ff3838;
}
.backBtn {
    font-family: 'Roboto',
        sans-serif;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 0.2rem;
    border: none;
    background-color: #ff3838;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 5px;
    text-decoration: none;
}

.backBtn:hover {
    background-color: #e20707;
}
.info{
    font-size: 20px;
}
.infoItem{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
.score{
    font-size: 20px;

}
.overview{
    font-size: 18px;
}
.genre{
    font-size: 16px;
    padding: 4px;
}